@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 19, 11, 32; /* #130b20 */
  --background-end-rgb: 19, 11, 32;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

/* Scrollbar Personalizada (Fina e Escura) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #130b20; 
}

::-webkit-scrollbar-thumb {
  background: #372f47; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4c1d95; 
}

/* Utilitário para esconder scrollbar mas manter funcionalidade */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}