@import "tailwindcss";

:root {
  --background: #130b20; /* Fundo base escuro */
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden; /* Evita scroll lateral indesejado */
  -webkit-font-smoothing: antialiased;
}

/* Scrollbar Personalizada (Dark Theme) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #130b20;
}
::-webkit-scrollbar-thumb {
  background: #372f47;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4c1d95; /* Roxo mais forte ao passar o mouse */
}